<template>
  <div>
    <h1>TODO</h1>
    <div class="m-t-7">
      <button class="btn btn-primary">Primary Button</button>
      <button class="btn btn-secondary">Secondary Button</button>
      <button class="btn btn-danger">Danger Button</button>
    </div>
    <div class="m-t-7">
      <button class="btn btn-primary btn-sm">Primary Button</button>
      <button class="btn btn-secondary btn-sm">Secondary Button</button>
    </div>
  </div>
</template>

